<div *ngIf="params">
    <label
        *ngIf="isCheckboxVisible"
        for="checkNode"
        class="ag-input-field-label ag-label ag-checkbox-label"
    >
        <div class="ag-wrapper ag-input-wrapper ag-checkbox-input-wrapper" [ngClass]="{'ag-checked': checkboxValue}" >
        <input
            (change)="onChange()"
            [value]="checkboxValue"
            id="checkNode"
            type="checkbox"
            class="ag-input-field-input ag-checkbox-input"
        >
        </div>
    </label>
</div>
  